header {
    min-height: 62px;
    position: relative;
    font-family: "BebasBold";
}
/*Верхнее меню*/
.top_line {
	background-image: url(../img/1.png);
	font-family: "BebasRegular";
}
.top_line ul {
	margin: 0px;
	padding-top: 0px;
	padding-left: 0px;
	list-style-type: none;
}
/*Первый элемент списка*/
.top_line li.main {
	color: white;
	font-size: 20px;
	display: block;
	padding: 0 60px;
	line-height: 62px;
	font-family: "BebasBold";
}
.top_line a {
	color: #fff;
	font-size: 15px;
	display: block;
	padding: 0 60px;
	line-height: 62px;
	border-left: #3B3B3B 1px solid;
}
/*Последний элемент списка, добавил линию справа*/
.top_line a.last {
	border-right: #3B3B3B 1px solid;
}
.top_line li {
	float: left;
}
.top_line li:hover a {
	background-image: url(../img/2.png);
}
.button {
	display: inline-block;
	background-image: url(../img/3.png);
	height: 35px;
	vertical-align: middle;
	line-height: 35px;
	padding: 0 25px;
	font-size: 20px;
    color: #fff;
    font-family: "BebasBold";
}
.button:hover {
	background-image: url(../img/4.png);
}
.button:active {
	background-color: #009ACD;
}
.mainpagetext {
	font-family: "RobotoLigth";
	font-size: 20px;
	color: #fff;
}

/*Calc Section*/
.calc {
	background-image: url(../img/2.png);
	height: 650px;
}
.calc form {
	padding: 0 45px;
	font-family: "BebasRegular";
}
.calc a {
	margin-left: 20px;
	font-family: "BebasRegular";
}
.calc form p.main {
	font-size: 20px;
	font-family: "BebasBold";
}
.calc form input {
	width: 205px;
}
.calc h1 {
	color: #fff;
	text-shadow: 0 3px rgba(0,0,0,0.55);
	text-align: center;
	font-family: "BebasBold";
	font-size: 50px;
}
.shadowline {
	box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
	background-color: rgba(0, 0, 0, 0.2);
}
.graphic {
	background-color: #EEC3F8;
	height: 200px;
}
#valueK {
	font-size: 20px;
	font-family: "BebasRegular";
}
#valueT {
	font-size: 20px;
	font-family: "BebasRegular";
}
#valuePt {
	font-size: 20px;
	font-family: "BebasRegular";
}
#valueGamma {
	font-size: 20px;
	font-family: "BebasRegular";
}
#valueJ {
	font-size: 20px;
	font-family: "BebasRegular";
}
#valuePv {
	font-size: 20px;
	font-family: "BebasRegular";
}
.chart {
	padding-top: 100px;
}

/*Info Section*/
.info {
	font-size: 20px;
	font-family: "BebasRegular";
	background-image: url(../img/3.png);
	height: 580px;
	padding-top: 0px;
	text-align: center;
}
.info strong {
	padding-top: 50px;
	font-size: 40px;
	font-family: "BebasBold";
}
.info .dia {
	padding-top: 60px;
}
.info .graf {
	padding-top: 60px;
}
.info .button {
	margin-top: 100px;
}

/*Footer*/
footer {
	color: white;
	height: 82px;
	background-image: url(../img/1.png);
	font-family: "BebasRegular";
}

/*Не отображаются по умолчанию для динамической страницы*/
#chart_div {
	display: none;
}
#info {
	display: none;
}
