header {
    min-height: 62px;
    position: relative;
    font-family: "BebasBold";
}
/*Верхнее меню*/
.top_line {
	/*background-color: #009ACD;*/
	background-image: url(../img/1.png);
	font-family: "BebasRegular";
}
.top_line ul {
	margin: 0px;
	padding-top: 0px;
	padding-left: 0px;
	list-style-type: none;
}
/*Первый элемент списка*/
.top_line li.main {
	color: white;
	font-size: 20px;
	display: block;
	padding: 0 60px;
	line-height: 62px;
	font-family: "BebasBold";
}
.top_line a {
	color: #fff;
	font-size: 15px;
	display: block;
	padding: 0 60px;
	line-height: 62px;
	border-left: #3B3B3B 1px solid;
}
/*Последний элемент списка, добавил линию справа*/
.top_line a.last {
	border-right: #3B3B3B 1px solid;
}
.top_line li {
	float: left;
}
.top_line li:hover a {
	background-image: url(../img/2.png);
}
.button {
	display: inline-block;
	background-color: #009ACD;
	height: 35px;
	vertical-align: middle;
	line-height: 35px;
	padding: 0 25px;
	font-size: 20px;
    color: #fff;
    font-family: "BebasBold";
}
.button:hover {
	background-color: #6495ED;
}
.button:active {
	background-color: #009ACD;
}
.calc {
	background-image: url(../img/2.png);
	height: 600px;
}
.calc form {
	padding: 0 45px;
	font-family: "BebasRegular";
}
.calc a {
	margin-left: 20px;
	font-family: "BebasRegular";
}
.calc form p.main {
	font-size: 20px;
	font-family: "BebasBold";
}
.calc form input {
	width: 205px;
}
.calc h1 {
	text-align: center;
	font-family: "BebasBold";
	font-size: 50px;
}
.graphic {
	background-color: #EEC3F8;
	height: 200px;
}
#chart_div {
	background-color: #EEC3F8;
}
#valueK {
	font-size: 20px;
	font-family: "BebasRegular";
}
#valueT {
	font-size: 20px;
	font-family: "BebasRegular";
}
.chart {
	padding-top: 100px;
}
/*Не отображаются по умолчанию для динамической страницы*/
#chart_div {
	display: none;
}
#info {
	display: none;
}
